# Dockge .dockerignore
# NOTE: frontend dir is NOT excluded — needed for Dockerfile.full-build
.env
node_modules
.idea
data
stacks
tmp
/private
.git
.gitignore
.editorconfig
.eslintrc.cjs
README.md
SECURITY.md
CONTRIBUTING.md
.github
